# Binarios
taas_node
*.ko
*.o

# Archivos de Kernel
*.mod.c
*.mod
*.order
*.symvers
.*.cmd
.tmp_versions/

# Llaves y Seguridad
*.pem
*.bin
*.tsr
*.proof

# Python
__pycache__/
*.py[cod]

# Otros
gateway/
